body,html{
  margin: 0;
  padding: 0;
}
.img{
  position: relative;
  background-image: url(eyes.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.img::before{
  content: '';
  display: block;
  padding-top: 50%;
}
.message{ 
  position: absolute;
  width: 100%;
  bottom: 0; 
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  color: #fff;
}
